[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "oh-my-zsh/custom/themes/powerlevel10k"]
	path = oh-my-zsh/custom/themes/powerlevel10k
	url = https://github.com/romkatv/powerlevel10k.git
[submodule "oh-my-zsh/custom/plugins/zsh-completions"]
	path = oh-my-zsh/custom/plugins/zsh-completions
	url = https://github.com/zsh-users/zsh-completions
[submodule "oh-my-zsh/custom/plugins/you-should-use"]
	path = oh-my-zsh/custom/plugins/you-should-use
	url = https://github.com/MichaelAquilina/zsh-you-should-use
[submodule "oh-my-zsh/custom/plugins/zsh-autosuggestions"]
	path = oh-my-zsh/custom/plugins/zsh-autosuggestions
	url = https://github.com/zsh-users/zsh-autosuggestions
